html {
  scroll-behavior: smooth;
  scroll-padding-top: 48px;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
}

h1 {
  text-align: center;
  font-size: 56px;
  margin: 72px auto 8px;
}

h2 {
  max-width: 80%;
  margin: auto;
  font-size: 32px;
  font-weight: 300;
  text-align: center;
  letter-spacing: 2px;
}

h3 {
  margin-top: 72px;
  font-size: 28px;
}

p {
  font-size: 20px;
  line-height: 30px;
}

p.intro {
  margin: 48px;
  text-align: center;
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 80px;
  letter-spacing: 2px;
}

img {
  width: 100%;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
  background-color: #353535;
  margin: 80px 0 0;
}

footer div {
  margin: 24px 60px;
}

footer p,
footer a {
  margin: 12px 0;
  font-size: 18px;
  color: #fff;
}

footer a:last-of-type {
  margin-right: 60px;
}

footer i {
  font-size: 32px;
}

/*Classes*/

.shortcuts {
  max-width: 80%;
  margin: 48px auto 128px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 128px;
}

.websites {
  max-width: 80%;
  margin: auto;
  display: grid;
  grid-auto-flow: row;
  gap: 40px;
}

.project {
  display: flex;
  gap: 40px;
}

.card {
  filter: drop-shadow(0px 0px 20px #3e3e3e);
  margin-top: 32px;
}

.shortcuts a {
  display: flex;
  text-align: center;
  align-items: center;
}

.shortcuts a,
.card,
.cta {
  transition: transform 0.2s;
}

.shortcuts a:hover {
  transform: scale(1.1);
}

.card:hover {
  transform: scale(0.98);
}

.cta:hover {
  transform: scale(0.95);
}

.cta {
  display: flex;
  max-width: max-content;
  align-items: center;
  background-color: #6e5494;
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
  padding: 12px 24px;
  border-radius: 16px;
  margin-top: 24px;
  text-decoration: none;
}

.cta i {
  margin-right: 24px;
  font-size: 20px;
}

.details {
  max-width: 600px;
}

@media (max-width: 960px) {
  .shortcuts {
    grid-template-columns: 1fr;
    max-width: 50%;
    margin: 128px auto 256px;
  }

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 24px;
  }

  .cta {
    font-size: 16px;
  }

  footer div {
    margin: 24px 20px;
  }

  footer p,
  footer a {
    margin: 12px 0;
    font-size: 16px;
    color: #fff;
  }

  footer a:last-of-type {
    margin-right: 20px;
  }

  footer i {
    font-size: 24px;
  }
}
